@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --tier-ssplus:
    rgba(219, 105, 64, 1) 0%, 
    rgba(235, 75, 90, 1) 40%, 
    rgba(210, 80, 140, 1) 75%, 
    rgba(150, 90, 180, 1) 100%;

    --tier-ssplus-border: rgba(235, 75, 90, 1);
    --tier-ss: rgba(210, 80, 140, 1);
    --tier-splus: rgba(150, 90, 180, 1);
    --tier-s: rgb(180, 132, 207);
    --tier-a: rgb(195, 159, 223);
    --tier-b: rgba(90, 120, 200, 1);
    --tier-c: rgba(120, 150, 220, 1);
    --tier-f: rgba(80, 180, 220, 1);
}

* { margin: 0; padding: 0; box-sizing: border-box; }

/* Lexend font-weight can be anything from 100 to 900 */

html {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    background: rgb(19, 19, 19);
}

body { padding: 0 2rem 3rem 2rem; }

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

h5 {
    font-weight: 400;
    font-size: 1rem;
    color: #cccccc;
    text-align: center;
    margin-top: .7rem;
    margin-bottom: 1rem;
}

.tierlist {
    max-width: 1650px;
    margin: 1.25rem auto;
    color: #fff;
    padding: 1px;
    overflow: hidden;
}

.tier {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    overflow: hidden;
}

.tier-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.role-division {
    flex: 1 1 100%;
    padding: .5rem;
}

.role-label, .header-roles {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: .2rem;
    font-size: 1.2rem;
    font-weight: 800;
}

.role-label { margin-bottom: .2rem; }

@media (min-width: 768px) {
    .role-label {
        display: none;
    }
}

.tier-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7px;
    gap: .6rem;
}

.color1 { background: rgb(32, 32, 32); }
.color2 { background: rgb(36, 36, 36); }

.role-label.dps, .header-roles.dps { color: #ed343e; }
.role-label.subdps, .header-roles.subdps { color: #bd65e6; }
.role-label.support, .header-roles.support { color: #7cde97; }
.role-label.stun, .header-roles.stun { color: #db6a00; }

.tier-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.5px;
    color: #000000;
    padding: .75rem;
}

@media (min-width: 768px) {
    .tier {
        flex-direction: row;
        align-items: stretch;
    }

    .tier-label {
        flex: 0 0 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tier-content {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
    }

    .role-division {
        flex: 1 1 25%;
    }
}


.tier.header { background: transparent; } 
.tier.t0 { background: linear-gradient(180deg, var(--tier-ssplus)); }
.tier.t05 { background: var(--tier-ss); } 
.tier.t1 { background: var(--tier-splus); }
.tier.t15 { background: var(--tier-s); } 
.tier.t2 { background: var(--tier-a); } 
.tier.t3 { background: var(--tier-b); } 
.tier.t4 { background: var(--tier-c); } 
.tier.t5 { background: var(--tier-f); } 

@media (max-width: 768px) {
    .tier.header {
        display: none;
    }
    .tier {
        margin-left: 20px;
        margin-right: 20px;
        border: solid 2px;
    }

    .tier-items {
        justify-content: center;
    }

    .tier.t0 {
        border-color: var(--tier-ssplus-border);
        background: linear-gradient(90deg, var(--tier-ssplus));
    }
    .tier.t05 { border-color: var(--tier-ss) }
    .tier.t1 { border-color: var(--tier-splus) }
    .tier.t15 { border-color: var(--tier-s) }
    .tier.t2 { border-color: var(--tier-a) }
    .tier.t3 { border-color: var(--tier-b) }
    .tier.t4 { border-color: var(--tier-c) }
    .tier.t5 { border-color: var(--tier-f) }
}

.partner-tag { color: #ff7f7f; }
.hp-tag { color: #72de97; }
.aftershock-tag { color: #fffd7f; }
.expert-tag { color: #ffa938; }

.upward { display: inline-block; transform: rotate(-90deg);} /* upwards arrow symbol for EXPERT tag */

.agent {
    text-align: center;
    font-weight: 600;
    width: fit-content;
}

.agent-img-container {
    position: relative;
    display: inline-block;
}

.agent img.main {
    display: block;
    margin: 0 auto 4px auto;
    width: 110px;
    height: auto;
    padding: 4px;
    margin: 4px auto 0 auto;
}

.agent img.main:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.overlay-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #1900ff;
    font-size: 8px; 
    margin-top: 2px;
}

.watchlist-icon,
.positive-diff-icon,
.negative-diff-icon {
    position: absolute;
    top: 4px; /* distance from top */
    width: 35px;
    border-radius: 8px;
}

.watchlist-icon {
    background: #008dc5;
    left: 0px;
}

.positive-diff-icon {
    background: #00c57d;
    right: 0px;
}

.negative-diff-icon {
    background: #ff5c5c;
    right: 0px;
}

.agent-tags { margin-top: 2px; }

.agent img.s-rank {
    background: linear-gradient(180deg, rgb(187, 159, 1), rgb(255, 222, 36));
    border-radius: 8px;
}

.agent img.a-rank {
    background: linear-gradient(0deg, rgba(183, 0, 255, 0.5), rgba(183, 0, 255, 0.4));
    border-radius: 8px;
}

.namingtoggle {
    font-family: inherit;
    display: block;
    width: 240px;
    margin: 1rem auto 0 auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    background: #eb4b73;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.namingtoggle:hover {
    background-color: #ff5b84;
}

.namingtoggle:active {
    background-color: #f0406c;
}