@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    --tier-ssplus:
    rgba(219, 105, 64, 1) 0%, 
    rgba(235, 75, 90, 1) 40%, 
    rgba(210, 80, 140, 1) 75%, 
    rgba(150, 90, 180, 1) 100%;
}

* { margin: 0; padding: 0; box-sizing: border-box; }

/* Lexend font-weight can be anything from 100 to 900 */
html {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    background: rgb(19, 19, 19);
}

body { padding: 0 2rem 3rem 2rem; }

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

h5 {
    font-weight: 400;
    font-size: 1rem;
    color: #cccccc;
    text-align: center;
    margin-top: .5rem;
}

.tierlist {
    max-width: 1650px;
    margin: 1.25rem auto;
    color: #fff;
    padding: 1px;
    overflow: hidden;
}

.tier {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 8px;
}

.dps-border {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tier-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.role-division {
    flex: 1 1 100%;
    padding: .5rem;
}

.role-label, .header-roles {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: .2rem;
    font-size: 1.2rem;
    font-weight: 800;
}

.role-label { margin-bottom: .2rem; }

@media (min-width: 768px) {
    .role-label {
        display: none;
    }
}

.tier-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 7px;
    gap: .6rem;
}

.color1 { background: rgb(32, 32, 32); }
.color2 { background: rgb(36, 36, 36); }

.role-label.dps, .header-roles.dps { color: #df252e; }
.role-label.subdps, .header-roles.subdps { color: #4873cf; }
.role-label.support, .header-roles.support { color: #de7cde; }
.role-label.stun, .header-roles.stun { color: #db6a00; }

.tier-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.5px;
    color: #000000;
    padding: .75rem;
}

@media (min-width: 768px) {
    .tier {
        flex-direction: row;
        align-items: stretch;
    }

    .tier-label {
        flex: 0 0 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tier-content {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
    }

    .role-division {
        flex: 1 1 25%;
    }
}


.tier.header { background: transparent; } 
.tier.t0 { background: linear-gradient(180deg, var(--tier-ssplus)); }

.tier.t05 { background: rgba(210, 80, 140, 1); } 
.tier.t1 { background: rgba(150, 90, 180, 1); }
.tier.t15 { background: rgba(180, 132, 207, 1); } 
.tier.t2 { background: rgba(195, 159, 223, 1); } 
.tier.t3 { background: rgba(90, 120, 200, 1); } 
.tier.t4 { background: rgba(120, 150, 220, 1); } 
.tier.t5 { background: rgba(120, 220, 80, 1); } 

.partner-tag { color: #ff7f7f; }
.hp-tag { color: #72de97; }
.aftershock-tag { color: #fffd7f; }
.expert-tag { color: #ffa938; }
.upward { display: inline-block; transform: rotate(-90deg);} /* upwards arrow symbol for EXPERT tag */

.agent img.s-rank {
    background: linear-gradient(180deg, rgb(226, 193, 3), rgb(255, 222, 36));
    border-radius: 8px;
}

.agent img.a-rank {
    background: linear-gradient(180deg, rgba(183, 0, 255, 0.685), rgba(183, 0, 255, 0.678));
    border-radius: 8px;
}

.agent {
    text-align: center;
    font-weight: 600;
    max-width: 110px;
}

.agent-img-container {
    position: relative;
    display: inline-block;
}

.agent img.main {
    display: block;
    margin: 0 auto 4px auto;
    width: 110px;
    height: 110px;
    padding: 4px;
    margin: 4px auto 0 auto;
}

.agent img.main:hover {
    transform: scale(1.05);
    transition: transform 0.2s;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: #000000;
    font-size: 7px; 
    margin-top: 4px;
}

.left-icon, .right-icon {
    position: absolute;
    top: 4px;
    width: 35px;
    height: 35px;
    border-radius: 8px;
}

.left-icon { left: 0px; }
.right-icon { right: 0px; }

.watchlist-icon { background: #008dc5; }
.positive-diff-icon { background: #00c57d; }
.negative-diff-icon { background: #ff5c5c; }
.new-agent-icon { background: #f700ff; }

.agent-tags { margin-top: 2px; }

.namingtoggle {
    font-family: inherit;
    display: block;
    width: 240px;
    margin: 1rem auto 0 auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 700;
    background: #8233af;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.namingtoggle:hover {
    background-color: #8233afcc;
}

.namingtoggle:active {
    background-color: #8233afaa;
}

.changelog {
    font-family: inherit;
    max-width: 800px;
    margin: 1rem auto 0 auto;
    border-radius: 8px;
    background: #222;
    color: #fff;
    border: 2px solid #555;
}

.changelog-header {
    font-family: inherit;
    border-radius: 8px;
    border: none;
    width: 100%;
    text-align: left;
    padding: .7em;
    color: #fff;
    font-size: 1.2em;
    background: #333;
    cursor: pointer;
}

.changelog-body {
    font-weight: 500;
    display: none;
    padding: 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.changelog-list {
    list-style-type: disc;
    padding-left: 1.5em;
}

.changelog-list li {
    margin-bottom: .5em;
}

.changelog-list.nostyle {
    list-style-type: none;
    padding-left: 0;
}

.changelog-header.active + .changelog-body {
    display: block;
}

.red-text { color: #f71f1f; }

@media (max-width: 768px) {
    body { padding: 0 1rem 2rem 1rem; }
    
    .tier.header { display: none; }
    .tier-items { justify-content: center; }
    .tier.t0 { background: linear-gradient(90deg, var(--tier-ssplus)); }

    h1 {
        font-size: 2rem;
        margin-top: 1.5rem;
    }

    h5 {
        font-size: .9rem;
        margin-top: .5rem;
    }

    .changelog {
        margin: 1rem 0 0 0;
    }

    .tierlist {
        margin: .5rem auto;
        margin-top: 1rem;
        padding: 0;
    }

    .tier {
        margin-left: 0px;
        margin-right: 0px;
        padding: 2px;
    }

    .stun-div {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .dps-div {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    .agent-tags { font-size: .85rem; }
    .agent { max-width: 96px; }
    .agent img.main {
        width: 96px;
        height: 96px;
    }

    .changelog-header { font-size: 1rem; }
    .changelog-body { font-size: .9rem; }

    .left-icon, .right-icon {
        width: 30px;
        height: 30px;
    }
}