@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-weight can be anything from 200 to 1000 */
html {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: rgb(19, 19, 19);
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.tierlist {
    max-width: 1600px;
    margin: 1.25rem auto;
    color: #ffffff;
    padding: 1px;
    overflow: hidden;
}

.tier-row, .agents, .tier, .role {
    margin-top: 2px;
    margin-bottom: 2px;
}

.empty-cell { background: transparent !important; }

.tierlist.tierlist-grid .tier-row {
    display: grid;
    grid-template-columns: 92px repeat(4, minmax(180px, 1fr));
}

.tierlist .tier-cell {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    background: rgb(32, 32, 32);
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.5;
}

.tier-header-cell {
    background: rgb(32, 32, 32);
    padding: 10px 12px;
    font-size: 14px;
    line-height: 1.5;
}

.tierlist .color2 { background: rgb(36, 36, 36); }

.tierlist .role {
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase !important;
}

.tierlist .role.dps { color: #ed343e; }
.tierlist .role.subdps { color: #bd65e6; }
.tierlist .role.support { color: #7cde97; }
.tierlist .role.stun { color: #db6a00; }

.tierlist .tier.t0,
.tierlist .tier.t05,
.tierlist .tier.t1,
.tierlist .tier.t15,
.tierlist .tier.t2,
.tierlist .tier.t3,
.tierlist .tier.t4,
.tierlist .tier.t5 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    color: #ffffff;
    letter-spacing: 0.5px;
    color: #000000;
}

.tierlist .tier.t0 { background: #ef5350; } /* SS+ */
.tierlist .tier.t05 { background: #ec6563; } /* SS */
.tierlist .tier.t1 { background: #ffa967; } /* S+ */
.tierlist .tier.t15 { background: #ffbe7c; } /* S */
.tierlist .tier.t2 { background: #fed4a0; } /* A */
.tierlist .tier.t3 { background: #bfff7f; } /* B */
.tierlist .tier.t4 { background: #9df89d; } /* C */
.tierlist .tier.t5 { background: #76f8f8; } /* F */

/* Agent cells */
.tierlist .agents {
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
}

.partner-tag { color: #ff7f7f; }
.hp-tag { color: #72de97; }
.aftershock-tag { color: #fffd7f; }
.expert-tag { color: #ffa938; }
.upward { display: inline-block; transform: rotate(-90deg); } /* upwards arrow symbol for EXPERT tag */
.original-art { color: #979797; font-size: 10px; }

.agent {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
    width: fit-content;
}

.agent img {
    display: block;
    margin: 0 auto 4px auto;
    width: 110px;
    height: auto;
    padding: 4px;
}

.agent-tags {
    margin-top: 6px;
    /*text-transform: uppercase;*//* dunno if im gonna use this */
}

.agent img.s-rank {
    background: linear-gradient(180deg, rgb(187, 159, 1), rgb(255, 222, 36));
    border-radius: 8px;
    /* border: #000000b9 2px solid; */
}

.agent img.a-rank {
    background: linear-gradient(0deg, rgba(183, 0, 255, 0.5), rgba(183, 0, 255, 0.4));
    border-radius: 8px;
    /* border: #000000b9 2px solid; */
}

.namingtoggle {
    display: block;
    margin: 1.5rem auto 0 auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #444444;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.namingtoggle:hover {
    background-color: #555555;
}