@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* font-weight can be anything from 200 to 1000 */
html {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background: rgb(19, 19, 19);
}

h1 {
    font-weight: 700;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.tierlist {
    max-width: 1600px;
    margin: 1.25rem auto;
    color: #ffffff;
    padding: 1px;
    overflow: hidden;
}

.tier-row,
.agents,
.tier,
.role {
    margin-top: 2px;
    margin-bottom: 2px;
}

.tier {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    overflow: hidden;
    background: #fff;
}

.tier-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.role-division {
    flex: 1 1 100%;
    padding: .5rem;
    border: 0px solid #eee;
}

@media (min-width: 768px) {
    .tier {
        flex-direction: row;
        align-items: stretch;
    }

    .tier-label {
        flex: 0 0 120px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tier-content {
        flex: 1;
        display: flex;
        flex-wrap: nowrap;
    }

    .role-division {
        flex: 1 1 25%;
    }
}

.role-label, .header-roles {
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: .2rem;
    font-size: 1.2rem;
    font-weight: 800;
}

.role-label { margin-bottom: .75rem; }

@media (min-width: 768px) {
    .role-label {
        display: none;
    }
}

.tier-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .5rem;
}

.color1 { background: rgb(32, 32, 32); }
.color2 { background: rgb(36, 36, 36); }

.role-label.dps, .header-roles.dps { color: #ed343e; }
.role-label.subdps, .header-roles.subdps { color: #bd65e6; }
.role-label.support, .header-roles.support { color: #7cde97; }
.role-label.stun, .header-roles.stun { color: #db6a00; }

.tier-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.5px;
    color: #000000;
    padding: .75rem;
}

.tier.header { background: transparent !important;} /* role header */
.tier.t0 { background: #ef5350; } /* SS+ */
.tier.t05 { background: #ec6563; } /* SS */
.tier.t1 { background: #ffa967; } /* S+ */
.tier.t15 { background: #ffbe7c; } /* S */
.tier.t2 { background: #fed4a0; } /* A */
.tier.t3 { background: #bfff7f; } /* B */
.tier.t4 { background: #9df89d; } /* C */
.tier.t5 { background: #76f8f8; } /* F */

@media (max-width: 768px) {
    .tier.header {
        display: none;
    }
    .tier {
        margin-left: 20px;
        margin-right: 20px;
    }
    .tier.t0 { border: #ef5350 solid 2px; } /* SS+ */
    .tier.t05 { border: #ec6563 solid 2px; } /* SS */
    .tier.t1 { border: #ffa967 solid 2px; } /* S+ */
    .tier.t15 { border: #ffbe7c solid 2px; } /* S */
    .tier.t2 { border: #fed4a0 solid 2px; } /* A */
    .tier.t3 { border: #bfff7f solid 2px; } /* B */
    .tier.t4 { border: #9df89d solid 2px; } /* C */
    .tier.t5 { border: #76f8f8 solid 2px; } /* F */
}

.partner-tag { color: #ff7f7f; }
.hp-tag { color: #72de97; }
.aftershock-tag { color: #fffd7f; }
.expert-tag { color: #ffa938; }
.watchlist { color: #5ceffa; } /* temporary solution */
.original-art { color: #979797; font-size: 10px; } /* temporary solution */

.upward { display: inline-block; transform: rotate(-90deg);} /* upwards arrow symbol for EXPERT tag */

.agent {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    font-weight: 600;
    width: fit-content;
}

.agent img {
    display: block;
    margin: 0 auto 4px auto;
    width: 110px;
    height: auto;
    padding: 4px;
}

.agent-tags { margin-top: 6px; }

.agent img.s-rank {
    background: linear-gradient(180deg, rgb(187, 159, 1), rgb(255, 222, 36));
    border-radius: 8px;
}

.agent img.a-rank {
    background: linear-gradient(0deg, rgba(183, 0, 255, 0.5), rgba(183, 0, 255, 0.4));
    border-radius: 8px;
}

.namingtoggle {
    display: block;
    margin: 1.5rem auto 0 auto;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: #444444;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.namingtoggle:hover {
    background-color: #555555;
}